.product-container{
    display: flex;
    gap: 32px;
    padding: 32px;
}

.shopping-cart{
    width: 25vw;
    padding: 32px;
}

.main-container{
    display: flex;
}

@media(max-width: 850px){
    .product-container{
        flex-direction: column;
    }
}